* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(yo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    back
}

#header {
    margin-left: 25px;
    font-size: 42px;
    font-weight: lighter;
}

#stopwatch {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#timer {
    margin-left: 55px;
    font-size: 34px;
    font-family: Arial, sans-serif;
    color: maroon;
}

#laps {
    list-style-type: none;
    padding: 0;
}

#laps li {
    border-top: 1px solid #ccc;
    padding: 10px 0;
}

button {
    font-size: 16px;
    padding: 8px 12px;
    width: 100px;
    font-weight: 600;
    color: var(--cir-accent);
    background-color: maroon;
    border: 10px solid var(--cir-accent);
    border-radius: 5px;
    transition: all 0.3s;
}

button:hover {
    transform: translateY(-10px);
    background-color: var(--cir-accent);
    color: var(--cir-light);
}

#watch {
    display: grid;
    grid-template-columns: repeat(2, 70px);
    grid-auto-rows: 50px;
    column-gap: 60px;
}